<!-- This file is the base header and footer that are common on all pages of the site.
     Other HTML files in the project extend this page so that every page will have the header and footer
     without duplicating all the code.
     In order to extend this file, just make a new view and wrap the content in "block content" templates -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}Projectr{% endblock title %}</title>

        <!-- CSS, bring in materialize  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static "materialize/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
		<ul id="profiledropdown" class="dropdown-content">
		    <li><a href="#!">Edit Profile</a></li>
		</ul>
        <nav class="blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Projectr</a>
                <ul class="right hide-on-med-and-down">
					<!-- Profile Dropdown Trigger -->
					<li><a class="dropdown-button" href="#!" data-activates="profiledropdown" data-beloworigin="true"><i class="large material-icons">account_circle</i></a></li>
                    {% if user.is_authenticated %}
                       <!-- Only show this button to logged in users -->
                       <li><a href="/logout/">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
 
        {% block content %}
           <!-- This is where a page extending this views' content will go -->
        {% endblock content %}

        <footer class="page-footer blue-grey">
            <div class="container">
                <div class="row">
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
					© Projectr 2017
                </div>
            </div>
        </footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static "materialize/js/materialize.js" %}"></script>
        <script src="{% static "js/init.js" %}"></script>
    </body>
</html>
