{% extends "base.html" %}
{% block content %}

<div class="row">
    <!-- Submit a project form -->
    <form class="col s4" action="/client/" method="post">
        {% csrf_token %}
        <h4 class="row card-panel blue lighten-4 z-depth-3">Submit a Project</h4>
        <div class="row">
            <div class="input-field col s12">
                {{ form.name }}
                <label for="{{ form.name.id_for_label }}">Project Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.requirements }}
                <label for="{{ form.requirements.id_for_label }}">Project Requirements</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.keywords }}
                <label for="{{ form.keywords.id_for_label }}">Project Keywords</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.description }}
                <label for="{{ form.description.id_for_label }}">Project Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <button class="btn waves-effect waves-light" type="submit">Submit Project</button>
            </div>
        </div>
    </form>

    <!-- Show current projects -->
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h4>Your Projects:</h4></li>
            {% for project in projects %}
                <li class="collection-item avatar">
                    <i class="material-icons circle red">business</i>
                    <span class="title">{{project.name}}</span>
                    <p> {{project.description}} </p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Bids on your projects panel -->
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h4>Bids on your projects:</h4></li>
            {% for bid in bids %}
                <li class="collection-item avatar">
                    <i class="material-icons circle red">play_arrow</i>
                    <span class="title">{{ bid.team_members }} bid on {{ bid.project.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<!-- Questions on this clients projects -->
<div class="row">
    <div class="col s8">
        <ul class="collection-header blue lighten-4"><h4>Questions on your projects:</h4></li>
        {% for question in questions %}
            <li class="collection-item avatar">
                <span class="title">{{ question.project.name }}</span>
                <p><b>Question Text:</b>{{ question.text }}</p>
                <p><b>Reply to Question:</b></p>
                <form action="/replytoquestion/{{ question.id }}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ reply_form.text }}
                            <label for="{{ reply_form.text }}">Reply to Question</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <button class="btn waves-effect waves-light" type="submit">Submit Reply</button>
                        </div>
                    </div>
                </form>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>


{% endblock content %}
