<!-- Instructor home page -->
{% extends "base.html" %}
{% block content %}

<div class="row">

    <!-- Notifications panel -->
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h5>Notifications</h5></li>
            {% for notification in notifications %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <div class="col s11">
                                <i class="material-icons">error</i>
                                <span class="card-title">{{ notification.subject }}</span>
                                <p>{{ notification.text }} </p>
                            </div>
                            <div class="col s1" style="float:right">
                                <a href="/deletenotification/{{ notification.id }}">
                                    <i class="tiny material-icon">clear</i>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </ul>
        <a href="#"><button class="btn waves-effect waves-light">View All {{ notifications_count }} Notifications</button></a>
    </div>
    
    <!-- Projects submitted by clients that have yet to be approved -->
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h5>Projects To Approve</h5></li>
            {% for project in projects_to_approve %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <i class="material-icons">assignment</i>
                            <span class="card-title">{{ project.name }}</span>
                            <p><b>Client:</b> {{ project.client.name }}</p>
                            <p><b>Project Description:</b> {{ project.description }}</p>
                        </div>
                        <div class="card-action options">
                            <div class="action-left border-right">
                                <a href="/approveproject/{{ project.id }}">Approve</a>
                            </div>
                            <div class="action-right border-left">
                                <a href="/rejectproject/{{ project.id }}">Reject</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="#"><button class="btn waves-effect waves-light">View All {{ projects_count }} Projects</button></a>
    </div>
    
    <!-- Outstanding bids from students go here -->
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h5>Project Bids</h5></li>
            {% for bid in bids %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <i class="material-icons">pan_tool</i>
                            <span class="card-title">{{ bid.project.name }}</span>
                            <p><b>Team Members:</b> {{ bid.team_members }}</p>
                            <p><b>Description:</b> {{ bid.description }}</p>
                        </div>
                        <div class="card-action options">
                            <div class="action-left border-right">
                                <a href="/awardbid/{{ bid.id }}">Award Bid</a>
                            </div>
                            <div class="action-right border-left">
                                <a href="/rejectbid/{{ bid.id }}">Reject Bid</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="/bids/"><button class="btn waves-effect waves-light">View All {{ bids_count }} Bids</button></a>
    </div>
</div>

<div class="row">    
    <!-- Inbox panel -->
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h5>Inbox</h5></li>
            {% for message in inbox %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <i class="material-icons">email</i>
                            <span class="card-title">{{ message.subject }}</span>
                            <p> {{ message.body }} </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="/messages/"><button class="btn waves-effect waves-light">View All {{ messages_count }} Messages</button></a>
        <a href="/sendmessage/"><button class="btn waves-effect waves-light">Send Message</button></a>
    </div>
    
</div>

{% endblock content %}
