<!-- Inbox page for students / instructors -->
{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s8">
        <div class="row card-panel blue lighten-4 z-depth-3">
            <h5 class="col s2">Your Inbox</h5>
        </div>

        <div class="row">
            <ul class="collapsible popout col s12" data-collapsible="accordion" id="list-test">
                <li>
                    <div class="collapsible-header">
                        <div class="col s3"><b>From</b></div>
                        <div class="col s9"><b>Subject</b></div>
                    </div>
                </li>
                {% for message in messages %}
                <li>
                    <div class="collapsible-header"> 
                        <div class="col s3">
                            <b>{{ message.sender }}</b>
                        </div>
                        <div class="col s9">
                            {{ message.subject}}
                        </div>
                    </div>
                    <div class="collapsible-body white">
                        <p>{{ message.text }}</p>
                        <div class="row">
                            <div class="col s7 offset-s1">
                                <a href="#" class="waves-effect eaves-light btn col s4">Reply</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="row">
      <ul class="pagination col s8 offset-s4">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active dark grey"><a href="#!">1</a></li>
        {% if bid_count > 20 %}
            <li class="waves-effect"><a href="#!">2</a></li>
            {% if bid_count > 40 %}
                <li class="waves-effect"><a href="#!">3</a></li>
                {% if bid_count > 60 %}
                    <li class="waves-effect"><a href="#!">4</a></li>
                    {% if bid_count > 80 %}
                        <li class="waves-effect"><a href="#!">5</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
      </ul>
    </div>
    </div>
</div>


{% endblock content %}
