{% extends "base.html" %}
{% block content %}
<div class="profile-header">
    <h2> Profile </h2>
    <h4>  Your Tags </h4>
    <div class="your-tags">TagTest</div>
    <!--<h4>  Add Tags (Separate Each Tag with a Comma)</h4>-->

</div>
<form class="col s12" action="/profile/" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="input-field col s4">
        {{ form.tags }}
        <label for="{{ form.tags.id_for_label }}">Add Tags (Separate Each Tag with a Comma)</label>
            <button class="btn waves-effect waves-light" type="submit">Submit</button>

    </div>
  </div>
</form>
{% endblock content %}


