<!-- Page that lists all available projects -->
{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s8">
    <div class="row card-panel blue lighten-4 z-depth-3">
        <h5 class="col s2">Projects</h5>
    </div>

    <div class="row">
        <form class="col s8 offset-s2" action="/projects/search/" method="post">
            {% csrf_token %}
            <div class="input-field col s12">
                {{ form.query }}
                <label for="{{ form.query.id_for_label }}">Search</label>
            </div>  
            <div class="right-align">
                <button class="btn waves-effect waves-light" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="row">
        <ul class="collapsible popout col s12" data-collapsible="accordion" id="list-test">
            <div class="row card-title blue lighten-4 z-depth-3" style="font-size:16px">
                <div class="col s2" style="text-align:center">
                Your Bids
                </div>
                <div class="col s10">
                Project Name
                </div>
            </div>
            {% for project in projects %}
            <li>
                <div class="collapsible-header">
                    <div class="col s2">
                        {% if project.id in projects_bid_on %}
                            <i class="tiny material-icons">gavel</i>
                        {% endif %}
                    </div>
                    <div class="col s10 pull-s1">
                    {{ project.name }}
                    </div>
                </div>
                <div class="collapsible-body white">
                    <p>
                    {% if project.id in projects_bid_on %}
                        You have already bid on this project<br>
                    {% endif %}
                    {{ project.description }}
                    </p>
                    <div class="row">
                        <div class="col s7 offset-s1">
                            <a href="/project/{{ project.id }}" class="waves-effect eaves-light btn col s4">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
      <ul class="pagination col s8 offset-s4">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active dark grey"><a href="#!">1</a></li>
        {% if bid_count > 20 %}
            <li class="waves-effect"><a href="#!">2</a></li>
            {% if bid_count > 40 %}
                <li class="waves-effect"><a href="#!">3</a></li>
                {% if bid_count > 60 %}
                    <li class="waves-effect"><a href="#!">4</a></li>
                    {% if bid_count > 80 %}
                        <li class="waves-effect"><a href="#!">5</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  </div>
</div>


{% endblock content %}
