/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.dropdown-content {
  min-width: 200px;
}

/*Sticky Footer*/
html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
footer.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/*Headers for profile*/
.profile-header {
    margin-left: 0.75rem;
}

.your-tags {
    margin-bottom: 0.75rem;
}