/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.dropdown-content {
  min-width: 200px;
}

/*Sticky Footer*/
html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
footer.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/*Headers for profile*/
.one-line-list {
  display: inline;
}

/*Action Card Formatting*/
.card .card-title {
    font-size: 20px !important;
}
.card .card-content p {
    font-size: 14px !important;
}
.options {
    padding: 0px !important;
    background: inherit;
    width: 100%;
    overflow: auto;
}
.action-left {
    float: left;
    display: inherit;
    padding: 10px;
    background: inherit;
    width: 50%;
    text-align: center;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    border-right: 1px solid rgba(160, 160, 160, 0.2);
}
.action-right {
    float: right;
    display: inherit;
    padding: 10px;
    background: inherit;
    width: 50%;
    text-align: center;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    border-left: 1px solid rgba(160, 160, 160, 0.2);
}