{% extends "base.html" %}
{% block content %}

<div class="row">
    <!-- Submit a project form -->
    <form class="col s4" action="/client/" method="post">
        {% csrf_token %}
        <h3>Submit a Project</h3>
        <div class="row">
            <div class="input-field col s12">
                {{ form.name }}
                <label for="{{ form.name.id_for_label }}">Project Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.requirements }}
                <label for="{{ form.requirements.id_for_label }}">Project Requirements</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.keywords }}
                <label for="{{ form.keywords.id_for_label }}">Project Keywords</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.description }}
                <label for="{{ form.description.id_for_label }}">Project Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <button class="btn waves-effect waves-light" type="submit">Submit Project</button>
            </div>
        </div>
    </form>

    <!-- Show current projects -->
    <div class="col s4">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Your Projects:</h4></li>
            {% for project in projects %}
                <li class="collection-item avatar">
                    <i class="material-icons circle red">business</i>
                    <span class="title">{{project.name}}</span>
                    <p> {{project.description}} </p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Bids on your projects panel -->
    <div class="col s4">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Bids on your projects:</h4></li>
            {% for bid in bids %}
                <li class="collection-item avatar">
                    <i class="material-icons circle red">play_arrow</i>
                    <span class="title">{{ bid.team_members }} bid on {{ bid.project.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
