{% extends "base.html" %}
{% block content %}

<div>
    <h5>Professor John Smith</h5>
</div>

<div class="row">
    <div class="card-panel blue lighten-4 col l4">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Notifications</h4></li>
            {% for notification in notifications %}
            <li class="collection-item avatar">
                <i class="material-icons circle red">error</i>
                <span class="title">{{ notification.notification_content }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-panel blue lighten-4 col l4">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Inbox</h4></li>
            {% for message in messages %}
            <li class="collection-item avatar">
                <i class="material-icons circle red">email</i>
                <span class="title">{{ message.message_content }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-panel blue lighten-4 col l4">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Project Bids</h4></li>
            {% for project_bid in project_bids %}
            <li class="collection-item avatar">
                <i class="material-icons circle red">assignment</i>
                <span class="title">{{ project_bid.team_name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
