{% extends "base.html" %}
{% block content %}

<p>Professor John Smith</p>

<div class="row">
    <div class="col l4">
        <h3>Notifications</h3>
        <ul>
            <li>Notification 1</li>
            <li>Notification 2</li>
        </ul>
    </div>
    <div class="col l4">
        <h3>Inbox</h3>
        <ul>
            <li>Message 1</li>
            <li>Message 2</li>
        </ul>
    </div>
    <div class="col l4">
        <h3>Current Bids</h3>
        <ul>
            <li>Astronaut Support System</li>
            <li>Project Management System</li>
        </ul>
    </div>
</div>

{% endblock content %}
