{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Hello World HTML</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}" />
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>

    <h1>Hello World</h1>
  </body>
</html>
