{% extends "base.html" %}
{% block content %}

<!-- <div class="row"> -->
<!--     <h5 class="col s4">{{ name }}</h5> -->
<!-- </div> -->

<div class="row">
    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h4>Notifications</h4></li>
            {% for notification in notifications %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <i class="material-icons">error</i>
                            <span class="card-title">{{ notification.subject }}</span>
                            <p> {{ notification.body }} </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to action</a>
                        </div>
                    </div>
            {% endfor %}
        </ul>
    </div>

    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h4>Inbox</h4></li>
            {% for message in inbox %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <i class="material-icons">email</i>
                            <span class="card-title">{{ message.subject }}</span>
                            <p> {{ message.sender.email }}</p>
                            <p> {{ message.text }} </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="/messages/"><button class="btn waves-effect waves-light">View All Messages</button></a>
    </div>

    <div class="col s4">
        <ul class="collection with-header z-depth-3">
            <li class="collection-header blue lighten-4"><h4>Projects</h4></li>
            {% for project in projects %}
                <li class="collection-item">
                    <div class="card blue-grey darken-1">
                        <div class="card-content avatar white-text">
                            <i class="material-icons">assignment</i>
                            <span class="card-title">{{ project.name }}</span>
                            <p> {{ project.description }} </p>
                        </div>
                        <div class="card-action">
                            <a href="/project/">More Information</a>
                            <a href="#">Contact Client</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="/projects/"><button class="btn waves-effect waves-light">View All Projects</button></a>
    </div>
</div>

<div class="col s4">
    <!-- Submit a message form -->
    <form class="col s4" action="/student/" method="post">
        {% csrf_token %}
        <h3>Send a Message</h3>
        <div class="row">
            <div class="input-field col s4">
                {{ form.recipient }}
                <label for="{{ form.recipient.id_for_label }}">To</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                {{ form.subject }}
                <label for="{{ form.subject.id_for_label }}">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                {{ form.text }}
                <label for="{{ form.text.id_for_label }}">Message Text</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <button class="btn waves-effect waves-light" type="submit">Send Message</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
